body{
    background-color: rgb(6, 6, 159);
}
form{
    background-color: white;
    width: 470px;
    height: 350px;
    box-sizing: border-box;
    padding-top: 30px;
    padding-left: 40px;
    margin-top: 300px;
    margin-left: 700px;




}
.b1{
background-color: blue;
border: blue;
width: 35px;
height: 35px;
color: white;
border-radius: 50%;
margin-left: 350px;
}
button{
    background-color: blue;
    border: blue;
    width: 130px;
    height: 38px;
    border-radius: 25px;
    margin-left: -45px;
}
